@charset "UTF-8";
#twitch_videos [data-video-id][data-item-name="title"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-width: calc(1280px * 0.5);
}
#twitch_videos [data-video-id][data-item-name="published_at"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#twitch_videos [data-video-id][data-item-name="duration"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#twitch_videos [data-video-id][data-item-name="markers"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
