@charset "UTF-8";
[data-video-id][data-item-name="markers"] {
	white-space: nowrap;
	border-Bottom-Color: #333;
	border-Bottom-Style: solid;
	border-Bottom-Width: 1px;
	max-width: calc(1280px * 0.5);
}
[data-video-id][data-item-name="published_at"] {
	white-space: nowrap;
	border-Bottom-Color: #333;
	border-Bottom-Style: solid;
	border-Bottom-Width: 1px;
}
[data-video-id][data-item-name="duration"] {
	white-space: nowrap;
	border-Bottom-Color: #333;
	border-Bottom-Style: solid;
	border-Bottom-Width: 1px;
}
[data-video-id][data-item-name="markers"] {
	white-space: nowrap;
	border-Bottom-Color: #333;
	border-Bottom-Style: solid;
	border-Bottom-Width: 1px;
}
td.form_input>input {
	width: stretch;
	width: -moz-available;;
	width: -webkit-fill-available;
}
