@charset "UTF-8";
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="title"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-width: calc(1280px * 0.5);
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="title"] a>div>img[src^="./logo/"][src$="svg"] {
	height: 1.5em;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="title"] a>img[src*="live_user"],
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="title"] a>img[src*="thum"] {
	max-width: calc(1280px * 0.25);
	max-height: calc(720px * 0.25);
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="published_at"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="published_at"]>div {
	white-space: nowrap;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="duration"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="markers"] {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="markers"]>ul {
	list-style: none;
	padding: unset;
	max-height: calc(720px * 0.25);
	overflow-y: auto;
}
#twitch_videos table tbody tr.table_content td[data-video-id][data-item-name="markers"]>textarea {
	width: stretch;
}
#twitch_videos table {
	font-size: small;
}
#twitch_videos table thead tr.table_header th {
	white-space: nowrap;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #333;
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	max-width: 50%;
}
